.hero {
  height: 60vh;
  background-color: var(--primaryBrand1transp);
  position: relative;
  overflow: hidden;
}

.heroimagebg {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: -1;
  max-width: none;
  min-height: 100%;
  object-fit: cover;
  filter: blur(6px);
}

.herocentre {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.herotitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  padding: 0 20px;

  min-width: 100vw;
  max-width: 100vw;
}

.herotitletext {
  margin: 0;

  font-size: 90px;
  font-weight: 700;
  color: white;
}

@media only screen and (max-width: 550px) {
  .herotitletext {
    text-align: center;
    font-size: 50px;
  }
}

.visitContainer {
  padding: 20px;
}

.visitCentre {
  max-width: 1140px;
  margin: 0 auto;
}

.visitblurb {
  display: flex;
}

.blurbcontainer {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  margin: 0 10px;
}

.blurbcontainer p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--primaryDark2);
}

.addresscontainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primaryLight2);
  border-radius: 20px;
}

.addresscontentleft,
.addresscontentright {
  flex: 1;
  margin: 0 10px;
}

.addresscontentlefttitle,
.addresscontentrighttitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.addresscontentlefttext,
.addresscontentrighttext {
  font-size: 18px;
  color: #555;
}

.addresscontentlefttext p,
.addresscontentrighttext p {
  margin: 5px 0;
}

@media only screen and (max-width: 710px) {
  .addresscontainer {
    flex-direction: column;
  }

  .addresscontentleft,
  .addresscontentright {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 550px) {
  .visitblurb {
    flex-direction: column;
  }
}

.visitcontent {
  padding: 20px 0;
}

.visitcontenttitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primaryDark1);
  margin-bottom: 0.5rem;
}

.visitcontenttext {
  font-size: 1.2rem;
  color: var(--primaryDark2);
}

.mapvisit {
  display: flex;
  align-items: center;
}

.map {
  flex: 1;
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .mapvisit {
    flex-direction: column;
  }

  .map {
    margin-top: 20px;
    width: 100%;
    min-height: 450px;
  }
}