.hero {
  height: 60vh;
  background-color: #061941e0;
  position: relative;
  overflow: hidden;
}

.heroimagebg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: none;
  min-height: 100%;
}

.herocentre {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.herotitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  padding: 0 20px;

  min-width: 100vw;
  max-width: 100vw;
}

.herotitletext {
  margin: 0;

  font-size: 90px;
  font-weight: 700;
  color: white;
}

@media only screen and (max-width: 550px) {
  .herotitletext {
    text-align: center;
    font-size: 50px;
  }
}

.giveContainer {
  padding: 20px;
  background-color: #fff;
}

.giveCentre {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.verse {
  font-size: 2rem;
  color: #061941;
  margin-bottom: 20px;
}

.blurbtext {
  text-align: center;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 20px;
}

.giveMethods {
  margin: 40px 0;
  display: flex;
}

.giveMethodSection {
  flex: 1;
  margin: 0px;
  align-self: center;
  padding: 20px 0;
}

.giveMethodDivider {
  margin: 0 50px;
  border-left: 2px solid #989898;
}

.giveMethodTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #061941;
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .verse {
    font-size: 1.5rem;
  }

  .giveMethods {
    flex-direction: column;
  }

  .giveMethodDivider {
    margin: 30px 0;
    border-left: none;
    border-top: 2px solid #989898;
  }
}