.hero {
    height: 60vh;
    background-color: #061941e0;
    position: relative;
    overflow: hidden;
  }
  
  .heroimagebg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: none;
    min-height: 100%;
  }
  
  .herocentre {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .herotitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    padding: 0 20px;
  
    min-width: 100vw;
    max-width: 100vw;
  }
  
  .herotitletext {
    margin: 0;
  
    font-size: 90px;
    font-weight: 700;
    color: white;
  }
  
  @media only screen and (max-width: 550px) {
    .herotitletext {
        text-align: center;
      font-size: 50px;
    }
  }

  .whatwebelievecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    padding: 0 20px;
  
    max-width: 1140px;
  }

  .whatwebelievecentre {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 30px 0;
  }

  .whatwebelievecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;

    /* height: 140px; */
  }

  .believecontent {
    display: flex;
  }

  .believetitle {
    display: inline;
  }